<% 
  fillings = ["Frita", "Asada", "Fresca", "Salsa", "Mole"]
%>

<h1>Chimichanga?</h1>
<p>Con Pollo o Carne</p>



<ul>
  <% for fillings in fillings %>
    <li><%= fillings %></li>
  <% end %>

</ul>